<link type="text/css" rel="stylesheet" href="../../../assets/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="../../../assets/bootstrap-vue.min.css" />
<script src="../../../assets/vue.min.js"></script>
<script src="../../../assets/bootstrap-vue.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<script>
  Homey.setTitle("Select gateway device");

  Homey.emit('getGatewaysList')
    .then(result => {
      new Vue({
        el: "#allGateways",
        data: {
          gateways: []
        },
        mounted() {
          this.gateways = gateways;
        },
        methods: {
          selectedGateway(device) {
            Homey.emit('selectedGateway', {device})
              .then(result => {
                Homey.nextView();
              }).catch(error => {
                return Homey.alert(error);
              });
          }
        }
      });
    }).catch(error => {
      return Homey.alert(error);
    });
</script>

<div id="allGateways">
  <div>
    <div class="text-center">
      <h4>Select gateway</h4>
    </div>
    <b-list-group v-for="gateway in gateways" :key="gateway.mac">
      <b-list-group-item v-if="gateway && gateway.ip" @click="selectedGateway(gateway)">{{ gateway.ip }}</b-list-group-item>
      <b-list-group-item v-else disabled>please insert ip and token for {{ gateway.mac }}</b-list-group-item>
    </b-list-group>
  </div>
</div>